<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="classes" thread-count="4">
    <test name="registrationAndLogin">
        <classes>
            <class name="com.softserve.edu.greencity.ui.tests.RegisterPageTests"/>
            <class name="com.softserve.edu.greencity.ui.tests.RegistrationTests"/>
            <class name="com.softserve.edu.greencity.ui.tests.CreateNewsPositiveTest"/>
            <class name="com.softserve.edu.greencity.ui.tests.CreateNewsTest"/>
            <class name="com.softserve.edu.greencity.ui.tests.EcoNewsPageTest"/>
            <class name="com.softserve.edu.greencity.ui.tests.ForgotPasswordTests"/>
            <class name="com.softserve.edu.greencity.ui.tests.LoginTest"/>
        </classes>
    </test>
</suite>